<!DOCTYPE html>
<html>
<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <style>
    body { padding-top: 80px; word-wrap: break-word; }
  </style>
</head>
<body>
  <div class="container">
    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
      <!-- uber information -->
      <div class="col-sm-6">
        <div class="well">
          <h3 class="text-danger"><span class="fa fa-car"></span> Uber</h3>
          <% if (user.uber.token) { %>
            <p>
              <strong>id</strong>: <%= user.uber.id %><br>
              <strong>token</strong>: <%= user.uber.token %><br>
              <strong>email</strong>: <%= user.uber.email %><br>
              <strong>name</strong>: <%= user.uber.name %><br>
            </p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>